.mainFooter{
    margin-top: 170px;
}
.icons{
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.navFooter{
    display: flex;
    width: 98%;
    justify-content: center;
    list-style: none;
    padding: 10px;
    font-size: 20px;
}
.liFooter{
    font-size: 19px;
    padding: 0px 15px;
}
.navFooter li:hover{
    animation:0.5s ease-in-out;
    text-shadow: 0.3px 0.4px #6E7DAB;
}  
.icon:hover{
    color: #5762D5;
}
.footerIcon{
    padding: 0 10px;
    color: #6E7DAB;
}
.footerIcon:hover{
    transform: scale(1.1);
  color: #181F62;
  transition: 0.2s;
}