.countryName{
    word-spacing: 10px;
    margin: 0;
    font-size: 27px;
    margin-top: 8px;
    font-weight: 500;
}
.countryFlagImage{
    width: 100%;
    height: 100%;
}

.countryContinent{
    word-spacing: 10px;
    margin: 0;
    font-size: 22px;
    font-weight: 500;
}
.population{
    color: #09BC8A;
    border: double #09BC8A ;
    font-size: 22px;
    padding: 5px;
    border-radius: 7px;
}
.deaths{
    color: #D73340;
    border: double #D73340 ;
    font-size: 22px;
    padding: 5px;
    border-radius: 7px;
}
li span{
    margin-left: 10px;
}

.newCases{
    color: #4B57D2;
    border: double #4B57D2 ;
    font-size: 22px;
    padding: 5px;
    border-radius: 7px;
}
.pagination{
    margin-top: 30px;
}
.casesInfo{
    display: flex;
    justify-content: start;
    padding: 0;
    list-style-type: none;
}
.casesInfo li{
    margin-left: 10px;
    font-size: 17px;
text-align: center;
}
.mainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}