@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');


*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.countryName{
    word-spacing: 10px;
    margin: 0;
    font-size: 27px;
    margin-top: 8px;
    font-weight: 500;
}
.countryFlagImage{
    width: 100%;
    height: 100%;
}

.countryContinent{
    word-spacing: 10px;
    margin: 0;
    font-size: 22px;
    font-weight: 500;
}
.population{
    color: lightgreen;
    border: double lightgreen ;
    font-size: 22px;
    padding: 5px;
    border-radius: 7px;
}
.deaths{
    color: red;
    border: double red ;
    font-size: 22px;
    padding: 5px;
    border-radius: 7px;
}
li span{
    margin-left: 10px;
}

.newCases{
    color: blue;
    border: double blue ;
    font-size: 22px;
    padding: 5px;
    border-radius: 7px;
}

.casesInfo{
    display: flex;
    justify-content: start;
    padding: 0;
    list-style-type: none;
}
.casesInfo li{
    margin-left: 10px;
    font-size: 17px;
text-align: center;
}